global:
  appConfig:
    edition: ce
  hosts:
    domain: iot.local.gitlab
    externalIP: 127.0.0.1
    https: false

  ingress:
    configureCertmanager: false
    enabled: false

  geo:
    enabled: false


installCertmanager: false

nginx-ingress:
  enabled: false

prometheus:
  install: false
  
minio:
  install: false

registry:
  enabled: false

gitlab-runner:
  install: false

gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitaly:
    minReplicas: 1
  gitlab-shell:
    minReplicas: 1