apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: playground
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: http://iot-webservice-default.gitlab.svc.cluster.local:8181/root/playground_application.git
    targetRevision: HEAD
    path: deployment

  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
    - CreateNamespace=true